.list {
    padding: 0;
  }
  
  .item {
    display: flex;
    gap: 15px;
    font-size: 22px;
    width: 600px;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .number {
    font-weight: 700;
  }
  
  .button {
    justify-content: flex-end;
    background-color: rgb(234, 217, 217);
    border: 1px solid rgb(92, 90, 90);
    border-radius: 12px;
    padding: 1px 10px;
    font-size: 15px;
    font-style:oblique;
  }
  
  .button:hover {
    background: rgb(226, 99, 99);
    color: antiquewhite;
  }